body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkatra", cursive;
}
* {
  margin: 0;
  padding: 0;
}

/* Utilities */
.span-2 {
  grid-column: span 2 !important;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100vh;
  flex-wrap: wrap;
}
/* calc styles */
.calculator {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem 0.6rem;
  min-width: 220px;
  border: 1px solid grey;
  padding: 30px 10px;
  background-color: #8fc1b5;
  border-radius: 5px;
}
.operandContainer {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 6;
  width: 100%;
  height: fit-content;
  background-color: #146551;
  color: white;
  border: 1px solid #007566;
  text-align: right;
  border-radius: 5px;
  color: white;
}
#calculator__operand-1,
#calculator__operand-2 {
  background-color: transparent;
  border: 0;
  outline: none;
  text-align: right;
  color: white;
  padding: 2px;
  font-size: 1rem;
}
#calculator__operand-2 {
  pointer-events: none;
}
.calculator__btn {
  all: unset;
  border: 1px solid #007566;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #589a8d;
  color: #265c4b;
  border-radius: 5px;
  cursor: pointer;
}
.calculator__btn:hover {
  background-color: #146551;
  box-shadow: 2px 3px 5px #146551;
  border: 1px solid #589a8d;
  color: white;
}
.calculator__btn:active {
  box-shadow: 1px 6px 6px #146551;
}

/*--------------------  */
/*----AdvanceFunctions  */
/*--------------------  */
.advanceFunctions {
  padding: 15px;
  background-color: #8fc1b5;
  border-radius: 3px;
  border: 1px solid #146551;
}

.arbitraryBtnSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.arbitraryBtnSection h3 {
  margin: 5px 0px;
}
.arbitraryBtnSection button {
  all: unset;
  border: 1px solid grey;
  background-color: teal;
  color: white;
  padding: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
}
.arbitraryBtnSection button:hover {
  color: teal;
  background-color: white;
}
.arbitraryBtnSection input {
  border: none;
  outline: 1px solid teal;
  padding: 2px;
  border-radius: 2px;
}

/*--------------------  */
/*----HistoryFunctionality  */
/*--------------------  */
.historyContainer {
  background-color: #8fc1b5;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #146551;
}
#history_btn {
  all: unset;
  background-color: teal;
  border-radius:5px;
  padding:3px 8px;
}
#history_btn:active{
    color:white;
}
.historyContainer li {
  all: unset;
  font-size: 0.79rem;
}
.expressions{
  display: flex;
  justify-content: center;
  gap:15px 20px;
}
#expressions_list,
#answers_list,
#cross_btn{
  display: flex;
  flex-direction: column;
}

.expressions button{
  all:unset;
  border: 1px solid #146551;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 1.2rem;

}
.expressions button:active{
  color:white;
}