body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alkatra", cursive;
}

/* Utilities */
.span-2 {
  grid-column: span 2 !important;
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
}
/* calc styles */
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 0.6rem;
  min-width: 220px;
  border: 1px solid grey;
  padding: 30px 10px;
  background-color: #8fc1b5;
  border-radius: 5px;
}
.operandContainer {
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;
  height: fit-content;
  background-color: #146551;
  color: white;
  border: 1px solid #007566;
  text-align: right;
  border-radius: 5px;
  color: white;
}
#calculator__operand-1 {
  background-color: transparent;
  border: 0;
  outline: none;
  text-align: right;
  color: white;
  padding: 2px;
  font-size: 1rem;
}
#calculator__operand-2 {
  background-color: transparent;
  outline: none;
  border: 0;
  text-align: right;
  pointer-events: none;
}
.calculator__btn {
  all: unset;
  border: 1px solid #007566;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #589a8d;
  color: #265c4b;
  border-radius: 5px;
  cursor: pointer;
}
.calculator__btn:hover {
  background-color: #146551;
  box-shadow: 2px 3px 5px #589a8d;
  color: white;
}
